<ion-header>
  <ion-toolbar>
    <ion-title>readnote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-text color="secondary">
      <h1>{{dataObj[0].title}}</h1>
    </ion-text>

    <ion-text color="medium">
      <p>
        <ion-icon name="pin-outline"></ion-icon>{{dataObj[0].location}}
      </p>
    </ion-text>

    <ion-row>
      <ion-col>
        <p class="mt-3">
          &nbsp;&nbsp;&nbsp;{{dataObj[0].detail}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="mt-4">
          ข้อมูลเมื่อ : {{dataObj[0].date}}

        </p>
      </ion-col>
    </ion-row>


    <div class="row">
      <div class="mt-3 mb-3">
        <ion-button expand="block" color="secondary" (click)="getBack()">กลับ</ion-button>
      </div>
    </div>

  </div>

</ion-content>
